
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin:24px 0;">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Dabble</a>

<div class="collapse navbar-collapse" id="navb">

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">친구정보</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">지갑</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        백서
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">한글</a>
        <a class="dropdown-item" href="#">English</a>
      </div>
    </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
</nav>
<br>





    <% data.forEach(function( eachData){ %>

     <div class="card" style="width: 32rem; margin:0 auto;">
            <img class="card-img-top img-fluid"  src="https://sg.fiverrcdn.com/photos/98236905/original/e6dacf67c5374ef6cc84941c08d01bae27090310.jpg" alt="Card image cap">
            <div class="card-body">
                <img style="float:left"  margin-right="30px" src=<%= eachData.profile %> class="rounded-circle" alt="Cinque Terre" width="80" height="80">
                <h4 class="card-title"><%= eachData.account %></h4>
                <br><br>
                <p class="card-text"><%= eachData.data %></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="btn btn-light btn-sm">좋아요</a>
                <a href="#" class="btn btn-light btn-sm">펼쳐보기</a>
                <a href="#" class="btn btn-light btn-sm">수정</a>
                <a href="#" class="btn btn-light btn-sm">댓글</a>
            </div>
        </div>

    
<br>

    <% }) %>
    
    <a href="#" class="btn btn-light btn-sm"></a>

</body>
</html> 



