<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no">
	
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="./style/main.css">
  
  <style>
  @media only screen and (min-width: 768px){
.table {
   margin: auto;
   font-size:14px;
   width: 50% !important; 
}
  </style>
  
</head>
<script>
	$(function(){
		fnLoginChk();
		//gfContentList();
		
		//gfTooltip();
		//시스템 기본 색상 
		//00548e
	});
	
	
	
	function fnLoginChk(){
		gfIsLoginAction(fnLoginChkCallback);
	}
	function fnLoginChkCallback(data){
		if ( "true" == data.result ){
			fnGetFriendList();
		}else{
			alert("로그인 후 사용하세요.");
			$(location).attr("href", "index.html");
		}
	}
	
	function fnGetFriendList(){
		var sAction = "/readfriends";
		var fnCallback = fnGetFriendsCallback;
		var param = "";
		var sMethod = "POST";	// GET/POST
		gfAjaxCallWithParam(sAction, param, fnCallback, sMethod);
	}		
	
	function fnGetFriendsCallback(data){
		$("tbody[id='followList']").empty();
		for ( var x = 0 ; x < data.length ; x++ ){
			var strHtml	= '	<tr>'
						+ '		<td onclick="javascript:gfFrientContentsList(\'' + data[x].data + '\')">' + data[x].data + '</th>'
						+ '		<td >'
						+ '			<button type="button" class="btn btn-primary btn-sm" onclick="javascript:fnDeleteFriend(\'' + data[x].data + '\');">삭제</button>'
						+ '		</td>'
						+ '	</tr>';
			$("tbody[id='followList']").append(strHtml);
		}
	}
	
	function fnDeleteFriend(account){
		var sAction = "/deletefriend";
		$('#frmFollow #account').val(account);
		var fnCallback = fnDeleteFriendCallback;
		gfAjaxCallWithForm(sAction,$('#frmFollow'),fnCallback,"POST");
	}
	function fnDeleteFriendCallback(data){
		if ( "success" == data ){
			alert("삭제 하였습니다");
			fnGetFriendList();
		}else{
			alert("삭제 실패.");
		}
	}
	
	
	
	
</script>
<body>
	<div id="wrap">
		
		
		<!-- start header -->
		<% include ../cmm/cmmMenu2.ejs %>
		<!-- end header -->

		<!-- start content -->
		<div id="content">
			<div class="container clearfix">
				<!-- GLOBAL ALERT BANNER -->
				<!-- END GLOBAL ALERT BANNER -->
			<!-- 
			</div>
			<div class="containerBody clearfix">
			 -->
				<!-- ITEMS PERSISTED ON ALL PAGES -->
				<h4 id="headertitle-inner"></h4>


						<table class="table table-striped">
							<colgroup>
								<col style="width: 140px;">
								<col style="width: 50px;">
							</colgroup>
							<thead>
								<tr class="table-active">
									<th>친구ID</th>
									<th> </th>
								</tr>
							</thead>
							<tbody id="followList"></tbody>
						</table>
	

			</div>
		</div>
		<!-- end content -->
		<!-- start adspace -->
		<div>
			<div class="container">		
				<!-- Google ad. start -->
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-6548341742538402"
				     data-ad-slot="1467320415"
				     data-ad-format="auto"
				     data-full-width-responsive="true"></ins>
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
				<!-- Google ad. end -->
			</div>
		</div>
		<!-- end adspace -->

		<!-- start footer -->

		<!-- end footer -->
	</div>
    <!-- end wrap -->
    
    
    
	<!-- Modal Start-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<!-- <button type="button" data-dismiss="modal">&times;</button> -->
		        	</button>
		        	<h4 class="modal-title" id="myModalLabel">무슨 생각을 하고 계세요?</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:gfIsLoginAction(gfContentWrite);" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="contentEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						<!-- <button type="button" data-dismiss="modal">&times;</button> -->
		        	</button>
		        	<h4 class="modal-title" id="myModalLabel">다른 생각을 하고 계세요?</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentEditTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:gfContentEditAction();" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal End-->

	<form id="frmUserInfo">
		<input type="hidden" id="id"   name="id" />
	</form>
	<form id="frmFollow">
		<input type="hidden" id="account"   name="account" />
	</form>
	<form id="frmFriendContents" method="post">
		<input type="hidden" id="account"   name="account" />
		<input type="hidden" id="page"   name="page" />
	</form>
	
</body>
<% include ../cmm/cmmFooter.ejs %>
</html>
