<%
function linkify(inputText) {
    var replacedText, replacePattern1, replacePattern2, replacePattern3;

    //URLs starting with http://, https://, or ftp://
    replacePattern1 = /((https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])gim;
    replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

    //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
    replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
    replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

    //Change email addresses to mailto:: links.
    replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
    replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');

    return replacedText;
}
%>


    <% data.forEach(function( eachData){ %>

     <div class="card" style="width: 32rem; margin:0 auto;">
     <!--
            <img class="card-img-top img-fluid"  src="https://sg.fiverrcdn.com/photos/98236905/original/e6dacf67c5374ef6cc84941c08d01bae27090310.jpg" alt="Card image cap">
    -->            
            <div class="card-body">
                <img style="float:left"  margin-right="30px" src=<%= eachData.profile %> class="rounded-circle" alt="Cinque Terre" width="80" height="80">
                <h4 class="card-text"><pre><%= eachData.account %></pre></h4>
                <br><br>
                <p class="card-text"><%- linkify(eachData.data).replace(/(?:\r\n|\r|\n)/g, '<br>')
 %></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="btn btn-light btn-sm">좋아요</a>
                <a href="#" class="btn btn-light btn-sm">펼쳐보기</a>
                <a href="#" class="btn btn-light btn-sm">수정</a>
                <a href="#" class="btn btn-light btn-sm">댓글</a>
            </div>
        </div>

    
<br>

    <% }) %>
    
    <a href="#" class="btn btn-light btn-sm">Load More</a>




