


    <% data.forEach(function( eachData){ %>

     <div class="card" style="width: 32rem; margin:0 auto;">
     <!--
            <img class="card-img-top img-fluid"  src="https://sg.fiverrcdn.com/photos/98236905/original/e6dacf67c5374ef6cc84941c08d01bae27090310.jpg" alt="Card image cap">
    -->            
            <div class="card-body">
                <img style="float:left"  margin-right="30px" src=<%= eachData.profile %> class="rounded-circle" alt="Cinque Terre" width="80" height="80">
                <h4 class="card-text"><pre><%= eachData.account %></pre></h4>
                <br><br>
                <p class="card-text"><%- eachData.data %></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="btn btn-light btn-sm">좋아요</a>
                <a href="#" class="btn btn-light btn-sm">펼쳐보기</a>
                <a href="#" class="btn btn-light btn-sm">수정</a>
                <a href="#" class="btn btn-light btn-sm">댓글</a>
            </div>
        </div>

    
<br>

    <% }) %>
    
    <a href="#" class="btn btn-light btn-sm">Load More</a>




