
<html lang="en">
<head>

  <title>Dabble</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no">
  
  <!-- Compiled and minified CSS -->
  <!--
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  -->  
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <!--
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
<link rel="stylesheet" href="./style/main.css">            
<script src="./script/core.js" type="text/javascript"></script>

  
</head>
<body>
					
	<!-- start preloader -->
	<!-- end preloader -->
	
		
		<!-- start header -->
			<% include ../cmm/cmmMenu2.ejs %>
		<!-- end header -->
		<!-- start content -->
					
		<div id="content">
			<div class="container clearfix">
				<!-- GLOBAL ALERT BANNER -->
				<!-- ITEMS PERSISTED ON ALL PAGES -->
				<h4 id="headertitle-inner"></h4>
				<div id="container">
					<div id="conBtnGorup1">
					<!--
						<button type="button" class="button" onClick="javascript:fnLoginChkContentInsert();">글쓰기</button>
						-->
						</div>
					
					<div id="conBtnGorup2" style="display: none;"></div>
					
					<div style="display: none;">
						<!-- <button type="button" class="button" id="btnContentWrite" data-toggle="modal" data-target="#myModal"></button> -->
						<button type="button" class="button" id="btnContentEidt" data-toggle="modal" data-target="#contentEdit"></button>
						<button type="button" class="button" id="btnFollowPopup" data-toggle="modal" data-target="#followPopup"></button>
						<!-- <button type="button" class="button" id="btnContentDetailPopup" data-toggle="modal" data-target="#popupContentDetail"></button> -->
					</div>
				</div>
				
				<% include ./body.ejs %>
				<table>
				<tr>
				<td>
					<div id="contentDetail" style="display: none;"></div>
				</td>
				</tr>
				</table>
			</div>
			<div class="container clearfix">
				<div style="text-align: left; display: inline-block; width: calc(50% - 3px); margin-left: 0px; margin-right: 0px;">
					<button type="button" class="button" style="width: 100%; margin-left: 0px; margin-right: 0px;" onClick="javascript:fnContentList(-2);">Prev</button>
				</div>
				<div style="text-align: right; display: inline-block; width: calc(50% - 2px); margin-left: 0px; margin-right: 0px;">
					<button type="button" class="button" style="width: 100%; margin-left: 0px; margin-right: 0px;" onClick="javascript:fnContentList(-1);">Next</button>
				</div>
			</div>
			
		</div>
		<!-- end content -->
		
		
		<!-- FAB Button -->
		<a href="javascript:;" onClick="fnLoginChkContentInsert();" class="float">
			<i class="fa fa-plus my-float" ></i>

		</a>
		<!-- start adspace -->
		<div>
			<div class="container">		
				<!-- Google ad. start -->
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-6548341742538402"
				     data-ad-slot="1467320415"
				     data-ad-format="auto"
				     data-full-width-responsive="true"></ins>
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
				<!-- Google ad. end -->
			</div>
		</div>
		<!-- end adspace -->
		
		<!-- start footer -->
		<!-- end footer -->
	</div>
    <!-- end wrap -->
    
	<!-- Modal Start-->
	<% include ./modal.ejs %>
	
	
</body>
<% include ../cmm/cmmFooter.ejs %>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script> 
</html>
