
<html lang="en">
<head>

  <title>Dabble</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no">
  
      <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  

<style>
.fixed-action-btn{position:fixed;right:23px;bottom:23px;padding-top:15px;margin-bottom:0;z-index:997}.fixed-action-btn.active ul{visibility:visible}.fixed-action-btn.direction-left,.fixed-action-btn.direction-right{padding:0 0 0 15px}.fixed-action-btn.direction-left ul,.fixed-action-btn.direction-right ul{text-align:right;right:64px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);height:100%;left:auto;width:500px}.fixed-action-btn.direction-left ul li,.fixed-action-btn.direction-right ul li{display:inline-block;margin:7.5px 15px 0 0}.fixed-action-btn.direction-right{padding:0 15px 0 0}.fixed-action-btn.direction-right ul{text-align:left;direction:rtl;left:64px;right:auto}.fixed-action-btn.direction-right ul li{margin:7.5px 0 0 15px}.fixed-action-btn.direction-bottom{padding:0 0 15px 0}.fixed-action-btn.direction-bottom ul{top:64px;bottom:auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.fixed-action-btn.direction-bottom ul li{margin:15px 0 0 0}.fixed-action-btn.toolbar{padding:0;height:56px}.fixed-action-btn.toolbar.active>a i{opacity:0}.fixed-action-btn.toolbar ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;top:0;bottom:0;z-index:1}.fixed-action-btn.toolbar ul li{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;display:inline-block;margin:0;height:100%;-webkit-transition:none;transition:none}.fixed-action-btn.toolbar ul li a{display:block;overflow:hidden;position:relative;width:100%;height:100%;background-color:transparent;-webkit-box-shadow:none;box-shadow:none;color:#fff;line-height:56px;z-index:1}.fixed-action-btn.toolbar ul li a i{line-height:inherit}.fixed-action-btn ul{left:0;right:0;text-align:center;position:absolute;bottom:64px;margin:0;visibility:hidden}.fixed-action-btn ul li{margin-bottom:15px}.fixed-action-btn ul a.btn-floating{opacity:0}.fixed-action-btn
.btn-floating,.dropdown-content,.collapsible,.sidenav{-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2)}.z-depth-1-half,.btn:hover,.btn-large:hover,.btn-small:hover,.btn-floating:hover{-webkit-box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2)}.z-depth-2{-webkit-box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3)}.z-depth-3{-webkit-box-shadow:0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);box-shadow:0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2)}.z-depth-4{-webkit-box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2)}.z-depth-5,.modal{-webkit-box-shadow:0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);box-shadow:0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2)}.hoverable{-webkit-transition:-webkit-box-shadow .25s;transition:-webkit-box-shadow .25s;transition:box-shadow .25s;transition:box-shadow .25s, -webkit-box-shadow .25s}.hoverable:hover{-webkit-box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}.divider{height:1px;overflow:hidden;background-color:#e0e0e0}blockquote{margin:20px 0;padding-left:1.5rem;border-left:5px solid #ee6e73}i{line-height:inherit}i.left{float:left;margin-right:15px}i.right{float:right;margin-left:15px}i.tiny{font-size:1rem}i.small{font-size:2rem}i.medium{font-size:4rem}i.large{font-size:6rem}img.responsive-img,video.responsive-video{max-width:100%;height:auto}
</style>

            
  


  
</head>

<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
</script>
<body>


					
	<!-- start preloader -->
	<!-- 
	<div id="preloader">
		<div id="status">
			<div class="parent">
				<div class="child"><p>loading</p></div>
			</div>
		</div>
	</div>
	 -->
	<!-- end preloader -->
	<div id="wrap">
		<div id="menu-button">
			<table style="width: 100%;">
			<colgroup>
			<col width="25%;">
			<col width="50%;">
			<col width="25%;">
			</colgroup>
				<tr>
					<td> 
						<div class="left">
							<div class="cursor">
								<div id="nav-button">
									<span class="nav-bar"></span>
									<span class="nav-bar"></span>
									<span class="nav-bar"></span>
								</div>
							</div>
						</div>
					</td>
					<td>
						<div class="center">
							<div class="cursor">
								<a href="index.html" style="align-self: center;" >
									<img  src="./images/logo-dabble.png" style="width: 130px; height: 50px; vertical-align: super; display: inline;" />
								</a>
							</div>
						</div>
					</td>
					<td>
						<div class="right">
							<div class="cursor">
								<div id="nav-button">
									<span class="nav-bar"> </span>
									<span class="nav-bar"></span>
									<span class="nav-bar"></span>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		
		<!-- start header -->
			<% include ../cmm/cmmMenu.ejs %>
		<!-- end header -->

		<!-- start content -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>

					
		<div id="content">
			<div class="container clearfix">
				<!-- GLOBAL ALERT BANNER -->
				<!-- ITEMS PERSISTED ON ALL PAGES -->
				<h4 id="headertitle-inner"></h4>
				<div id="container">
					<div id="conBtnGorup1">
					<!--
						<button type="button" class="button" onClick="javascript:fnLoginChkContentInsert();">글쓰기</button>
						-->

					
					<div id="conBtnGorup2" style="display: none;"></div>
					
					<div style="display: none;">
						<!-- <button type="button" class="button" id="btnContentWrite" data-toggle="modal" data-target="#myModal"></button> -->
						<button type="button" class="button" id="btnContentEidt" data-toggle="modal" data-target="#contentEdit"></button>
						<button type="button" class="button" id="btnFollowPopup" data-toggle="modal" data-target="#followPopup"></button>
						<!-- <button type="button" class="button" id="btnContentDetailPopup" data-toggle="modal" data-target="#popupContentDetail"></button> -->
					</div>
				</div>
				
				<% include ./body.ejs %>
				<table>
				<tr>
				<td>
					<div id="contentDetail" style="display: none;"></div>
				</td>
				</tr>
				</table>
			</div>
			<div class="container clearfix">
				<div style="text-align: left; display: inline-block; width: calc(50% - 3px); margin-left: 0px; margin-right: 0px;">
					<button type="button" class="button" style="width: 100%; margin-left: 0px; margin-right: 0px;" onClick="javascript:fnContentList(-2);">Prev</button>
				</div>
				<div style="text-align: right; display: inline-block; width: calc(50% - 2px); margin-left: 0px; margin-right: 0px;">
					<button type="button" class="button" style="width: 100%; margin-left: 0px; margin-right: 0px;" onClick="javascript:fnContentList(-1);">Next</button>
				</div>
			</div>
			
		</div>
		<!-- end content -->
		<!-- start adspace -->
		<div>
			<div class="container">		
				<!-- Google ad. start -->
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-6548341742538402"
				     data-ad-slot="1467320415"
				     data-ad-format="auto"
				     data-full-width-responsive="true"></ins>
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
				<!-- Google ad. end -->
			</div>
		</div>
		<!-- end adspace -->
		
		<!-- start footer -->
		<!-- end footer -->
	</div>
    <!-- end wrap -->
    
	<!-- Modal Start-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
		        	<!-- 
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>-->
		        	<h4 class="modal-title" id="myModalLabel">무슨 생각을 하고 계세요?</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(1)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentInsert" style="padding-top: 10px;"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:gfIsLoginAction(gfContentWrite);" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="contentEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<!--
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>
		        	-->
		        	<h4 class="modal-title" id="myModalLabel">다른 생각을 하고 계세요?</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentEditTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(2)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentUpdate" style="padding-top: 10px;"></div>
				</div>
				<div class="modal-footer">
					<button type="button" id="btnUpdateCancel" onClick="javascript:fnUpdateCancel();" class="btn btn-default">취소</button>
					<button type="button" id="btnUpdateAction" class="btn btn-primary" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="popupContentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;"></div>
		<div id="popupContentData" ></div>
	</div>	
	
	<div class="modal fade" id="popupContentReplyInsert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<!--
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>
		        	-->
		        	<h4 class="modal-title" id="myModalLabel">당신의 의견을 알려주세요.</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentReplyTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(3)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentReplyInsert" style="padding-top: 10px;"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:fnContentReplyInsertAction();" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popupContentDetailReplyInsert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<!--
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>
		        	-->
		        	<h4 class="modal-title" id="myModalLabel">당신의 의견을 알려주세요.</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentDetailReplyTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(4)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentDetailInsert" style="padding-top: 10px;"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentDetailReplyInsertPopupClose();">취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:fnContentDetailReplyInsertAction();" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="popupContentDetailReplyUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<!--
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>
		        	-->
		        	<h4 class="modal-title" id="myModalLabel">당신의 의견을 알려주세요.</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentDetailReplyUpdateTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(5)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentDetailUpdate" style="padding-top: 10px;"></div>
				</div>
				
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentDetailReplyUpdatePopupClose();" >취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:fnContentDetailReplyUpdateAction();" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal fade" id="followPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFollow" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<!--
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>
		        	-->
		        	<h4 class="modal-title" id="myModalLabelFollow"><span id="myModalLabelFollowId"></span> <span id="myModalLabelFollowComment">님과 친하게 지내시겠어요?</span></h4>
		        	<img id="userImage" src="/images/user/0.png" style="width:20%; height: 20%; ">
				</div>
				<!--
				<div class="modal-body">
					<textarea id="contentEditTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				 -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary" onClick="javascript:gfFrientContentsList();" data-dismiss="modal"><span id="myModalLabelFollowBtn">친구</span> 글목록</button>
					<button type="button" id="popupBtnUnFollow" class="btn btn-primary" onClick="javascript:gfUnFollowAction();" data-dismiss="modal">UnFollow</button>
					<button type="button" id="popupBtnFollow"   class="btn btn-primary" onClick="javascript:gfFollowAction();"   data-dismiss="modal">Follow</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popupNewDesign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 80px;">
		<div class="jumbotron" style="height: calc( 100% - 20px ); background-color: #e9ecef; margin-left: 7px; margin-right: 7px; margin-bottom: 7px; padding-top: 5px;">
			<h1 style="margin-left: 15px; color: #2FA4E7;">Dabble</h1>
			<h1 style="margin-left: 15px; color: #2FA4E7;">짧은 글에도 큰 가치를..</h1>
			<h1 style="margin-left: 15px; color: #2FA4E7;">새로운 디자인으로 찾아옵니다.</h1>
			<h1 style="margin-left: 15px; color: #2FA4E7;">계속 사용하시려면 "닫기" 또는</h1>
			<h1 style="margin-left: 15px; color: #2FA4E7;">"다시 보지 않기"를 눌러주세요</h1>
			<!-- <p class="lead">Ok Im Hark 2018-12-05</p> -->
			<div id="divLoginBtn" style="text-align: left; margin-left: 15px;">
				<a href="http://dabble.cafe/Dabble_White_Paper.pdf" target="_blank">
					<button type="button" id="btnCreate" class="btn btn-primary" style="color: #fff; background-color: #1992d7; border-color: #178acc;" >백서</button>
				</a>
				
				<a href="http://dabble.cafe/pdf/WhitePaper_EN.pdf" target="_blank">
					<button type="button" id="btnCreate" class="btn btn-primary" style="color: #fff; background-color: #1992d7; border-color: #178acc;" >White Paper</button>
				</a>
			</div>
			<hr class="my-4">
			<div id="divLoginBtn" style="text-align: right; margin-right: 35px;">
				<button type="button" id="btnCreate" class="btn btn-primary" style="color: #fff; background-color: #1992d7; border-color: #178acc;" onClick="javascript:fnNewDesignPopupClose2();">다시 보지 않기</button>
				<button type="button" id="btnCreate" class="btn btn-primary" style="color: #fff; background-color: #1992d7; border-color: #178acc;" onClick="javascript:fnNewDesignPopupClose1();">닫기</button>
			</div>
		</div>

	</div>
	
	<!-- Modal End-->

	<form id="frmWrite">
		<input type="hidden" id="user" name="user" />
		<input type="hidden" id="data" name="data" />
	</form>
	<form id="frmEdit">
		<input type="hidden" id="postid" name="postid" />
		<input type="hidden" id="data" name="data" />
	</form>
	<form id="frmRead" method="post">
		<input type="hidden" id="user" name="user" value="<%=(loginInfo.id!=null?loginInfo.id:"")%>" />
		<input type="hidden" id="page" name="page" value="<%=page%>" />
	</form>
	<form id="frmReadVote">
		<input type="hidden" id="id" name="id" />
	</form>
	<form id="frmVote">
		<input type="hidden" id="id"   name="id" />
		<input type="hidden" id="vote" name="vote" />
	</form>
	<form id="frmUserInfo">
		<input type="hidden" id="id"   name="id" value="<%=(null==loginInfo.id)?"":loginInfo.id%>" />
	</form>
	<form id="frmFollow">
		<input type="hidden" id="account"   name="account" />
	</form>
	<form id="frmReply">
		<input type="hidden" id="parentid" name="parentid" />
		<input type="hidden" id="account" name="account" />
		<input type="hidden" id="data" name="data" />
	</form>
	<form id="frmReplyUpdate">
		<input type="hidden" id="postid" name="postid" />
		<input type="hidden" id="data" name="data" />
	</form>
	<form id="frmDetail">
		<input type="hidden" id="postid" name="postid" />
	</form>
	<form id="frmTemp">
		<input type="hidden" id="postid" name="postid" />
	</form>
	<form id="frmFriendContents" method="post">
		<input type="hidden" id="account"   name="account" />
		<input type="hidden" id="page"   name="page" />
	</form>
	
	
	
</body>
<% include ../cmm/cmmFooter.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
