	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
		        	<!-- 
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>-->
		        	<h4 class="modal-title" id="myModalLabel">무슨 생각을 하고 계세요?</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(1)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentInsert" style="padding-top: 10px;"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:gfIsLoginAction(gfContentWrite);" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="contentEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<!--
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>
		        	-->
		        	<h4 class="modal-title" id="myModalLabel">다른 생각을 하고 계세요?</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentEditTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(2)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentUpdate" style="padding-top: 10px;"></div>
				</div>
				<div class="modal-footer">
					<button type="button" id="btnUpdateCancel" onClick="javascript:fnUpdateCancel();" class="btn btn-default">취소</button>
					<button type="button" id="btnUpdateAction" class="btn btn-primary" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popupContentDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;"></div>
		<div id="popupContentData" ></div>
	</div>	
	
	<div class="modal fade" id="popupContentReplyInsert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<!--
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>
		        	-->
		        	<h4 class="modal-title" id="myModalLabel">당신의 의견을 알려주세요.</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentReplyTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(3)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentReplyInsert" style="padding-top: 10px;"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:fnContentReplyInsertAction();" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popupContentDetailReplyInsert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<!--
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>
		        	-->
		        	<h4 class="modal-title" id="myModalLabel">당신의 의견을 알려주세요.</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentDetailReplyTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(4)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentDetailInsert" style="padding-top: 10px;"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentDetailReplyInsertPopupClose();">취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:fnContentDetailReplyInsertAction();" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="popupContentDetailReplyUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top: 100px;">
			<div class="modal-content">
				<div class="modal-header">
					<!--
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
		        	</button>
		        	-->
		        	<h4 class="modal-title" id="myModalLabel">당신의 의견을 알려주세요.</h4>
				</div>
				<div class="modal-body">
					<textarea id="contentDetailReplyUpdateTextarea" style="width:100%; height: 180px; padding: 7px 7px 7px 7px; border: 1px solid #dedede;"></textarea>
				</div>
				<div class="modal-body" style="padding-top: 0px; padding-bottom: 5px;">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentImagePopup(5)">이미지 업로드</button> 썸네일을 누르면 이미지가 삭제됩니다.
					<div id="imgListContentDetailUpdate" style="padding-top: 10px;"></div>
				</div>
				
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default" onClick="javascript:fnContentDetailReplyUpdatePopupClose();" >취소</button>
					<button type="button" class="btn btn-primary" onClick="javascript:fnContentDetailReplyUpdateAction();" data-dismiss="modal">완료</button>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="modal fade" id="followPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabelFollow" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
		        	
		        	
				<div class="modal-body" id="myModalLabelFollow">
				<h5 id="myModalLabelFollowId" style="display:inline"></h5><span id="myModalLabelFollowComment">님과 친하게 지내시겠어요?</span>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">닫기</button>
					<button type="button" class="btn btn-primary btn-sm" onClick="javascript:gfFrientContentsList();" data-dismiss="modal"><span id="myModalLabelFollowBtn">친구</span> 글목록</button>
					<button type="button" id="popupBtnUnFollow" class="btn btn-primary  btn-sm" onClick="javascript:gfUnFollowAction();" data-dismiss="modal">UnFollow</button>
					<button type="button" id="popupBtnFollow"   class="btn btn-primary  btn-sm" onClick="javascript:gfFollowAction();"   data-dismiss="modal">Follow</button>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Modal End-->
	<form id="frmWrite">
		<input type="hidden" id="user" name="user" />
		<input type="hidden" id="data" name="data" />
	</form>
	<form id="frmEdit">
		<input type="hidden" id="postid" name="postid" />
		<input type="hidden" id="data" name="data" />
	</form>
	<form id="frmRead" method="post">
		<input type="hidden" id="user" name="user" value="<%=(loginInfo.id!=null?loginInfo.id:"")%>" />
		<input type="hidden" id="page" name="page" value="<%=page%>" />
	</form>
	<form id="frmReadVote">
		<input type="hidden" id="id" name="id" />
	</form>
	<form id="frmVote">
		<input type="hidden" id="id"   name="id" />
		<input type="hidden" id="vote" name="vote" />
	</form>
	<form id="frmUserInfo">
		<input type="hidden" id="id"   name="id" value="<%=(null==loginInfo.id)?"":loginInfo.id%>" />
	</form>
	<form id="frmFollow">
		<input type="hidden" id="account"   name="account" />
	</form>
	<form id="frmReply">
		<input type="hidden" id="parentid" name="parentid" />
		<input type="hidden" id="account" name="account" />
		<input type="hidden" id="data" name="data" />
	</form>
	<form id="frmReplyUpdate">
		<input type="hidden" id="postid" name="postid" />
		<input type="hidden" id="data" name="data" />
	</form>
	<form id="frmDetail">
		<input type="hidden" id="postid" name="postid" />
	</form>
	<form id="frmTemp">
		<input type="hidden" id="postid" name="postid" />
	</form>
	<form id="frmFriendContents" method="post">
		<input type="hidden" id="account"   name="account" />
		<input type="hidden" id="page"   name="page" />
	</form>
	
	
